<app-header></app-header>
<div class="customer-wrapper">
  <div class="customer-action">
    <!-- ======= LEFT ======= -->
    <div class="customer-action--left">
      <div class="title">Danh sách đơn hàng</div>
      <!-- ======= BUTTON FILTER/ADD ======= -->
      <div class="fillter-left">
        <div class="card buttons">
          <p-button
            label="Thêm khách hàng"
            icon="pi pi-plus"
            routerLink="/customer/add-customer"
            [style]="{
              background: '#8b4513',
              'border-color': '#8b4513',
              'font-size': '12px'
            }"
          />
        </div>

        <div class="card tabview">
          <p-tabView
            [style]="{ 'font-size': '12px', height: '74px' }"
            (onChange)="filterStatus($event)"
          >
            <p-tabPanel header="Tất cả"></p-tabPanel>
            <p-tabPanel header="Online"></p-tabPanel>
            <p-tabPanel header="Offline"></p-tabPanel>
          </p-tabView>
        </div>
      </div>
    </div>

    <!-- =======  RIGHT ======= -->
    <div class="customer-action--right">
      <!-- DATE INPUT -->
      <div class="flex-auto">
        <div class="title-line" style="opacity: 0">
          <span for="icondisplay" class="font-bold block mb-2"> Ngày </span>
        </div>
        <p-calendar
          [(ngModel)]="date1"
          [showIcon]="true"
          inputId="icondisplay1"
          placeholder="Từ ngày"
          [style]="{ width: '140px', height: '30px', marginRight: '14px' }"
        ></p-calendar>
        <p-calendar
          [(ngModel)]="date2"
          [showIcon]="true"
          inputId="icondisplay1"
          placeholder="Đến ngày"
          [style]="{ width: '140px', height: '30px', marginRight: '14px' }"
        ></p-calendar>
      </div>

      <!-- FILTER  -->
      <div class="flex-auto">
        <div class="title-line">
          <span for="icondisplay" class="font-bold block mb-2">
            Tìm kiếm theo tên
          </span>
        </div>
        <div class="search">
          <span class="p-input-icon-right">
            <i
              class="pi pi-search"
              [style]="{
                marginRight: '14px',
                fontSize: '13px',
                marginTop: '-5px'
              }"
            ></i>
            <input
              pInputText
              placeholder="Nhập từ khóa..."
              [style]="{ width: '200px', height: '30px', marginRight: '14px' }"
            />
          </span>
          <div class="p-toolbar-group-start">
            <p-button
              icon="pi pi-spin pi-spinner"
              class="mr-2"
              [style]="{
                width: '35px',
                height: '30px',
                marginRight: '14px',
                'background-color': '#3b3420',
                'border-color': '#3b3420',
              }"
            />
            <p-button
              label="Lấy dữ liệu"
              [style]="{
                width: '100px',
                height: '30px',
                'font-size': '12px',
                'flex-shrink': '0',
                'background-color': '#3b3420',
                'border-color': '#3b3420',
              }"
            ></p-button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Table -->
  <div class="card">
    <p-table
      [value]="filterCustomers"
      responsiveLayout="stack"
      [breakpoint]="'960px'"
      [tableStyle]="{ 'min-width': '50rem' }"
    >
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th>
            <p-checkbox
              [(ngModel)]="checked"
              [binary]="true"
              inputId="binary"
            />
          </th>
          <th>Mã khách hàng</th>
          <th>Tên khách hàng</th>
          <th>Số điện thoại</th>
          <th>Email</th>
          <th>Địa chỉ</th>
          <th>Loại hình</th>
          <th
            style="
              border-left: 1px solid #e9e9e9;
              box-shadow: -2px 0 10px -3px #e9e9e9;
            "
          >
            Chức năng
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-customer let-columns="columns">
        <tr>
          <td>
            <p-checkbox
              [(ngModel)]="checked"
              [binary]="true"
              inputId="binary"
            />
          </td>
          <td>
            <span class="p-column-title">Mã khách hàng</span>
            <!-- {{ customer?.code }} -->
            {{ customer?._id }}
          </td>
          <td>
            <span class="p-column-title">Tên khách hàng</span
            >{{ customer?.user?.name }}
          </td>
          <td>
            <span class="p-column-title">Số điện thoại</span
            >{{ customer?.user?.phone }}
          </td>
          <td>
            <span class="p-column-title">Email</span>{{ customer?.user?.email }}
          </td>
          <td>
            <span class="p-column-title">Địa chỉ</span
            >{{ customer?.user?.address }}
          </td>
          <td>
            <p-button
              [label]="getStatus(customer?.status)"
              [text]="true"
              [severity]="getStyle(customer?.status)"
            />
          </td>
          <td
            style="
              border-left: 1px solid #e9e9e9;
              box-shadow: -2px 0 10px -3px #e9e9e9;
            "
          >
            <p-button
              label="Chi tiết"
              routerLink="/customer/edit-customer/{{ customer?._id }}"
              [style]="{
                'font-size': '12px',
                'background-color': '#3b3420',
                'border-color': '#3b3420',
                height: '30px',
                width: '86px'
              }"
            ></p-button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <div class="paginator">
    <div class="pahinator-left">
      <!-- Tổng bản ghi: {{ salons ? salons.length : 0 }} -->
      Tổng bản ghi: {{ totalItems }}
    </div>
    <div class="justify-content-end">
      <p-paginator
        (onPageChange)="onPageChange($event)"
        [first]="(page - 1) * size"
        [rows]="size"
        [totalRecords]="totalItems"
        [rowsPerPageOptions]="[10, 20, 30]"
        [showFirstLastIcon]="false"
      />
    </div>
  </div>
</div>
