<!-- salon-tabs.component.html -->
<app-header></app-header>

<div class="salon-tabs-wrapper">
  <div class="service-title">
    <a class="icon-back" routerLink="/salon">
      <i
        class="pi pi-angle-left"
        style="font-size: 1.5rem; margin-right: 8px"
      ></i>
      Thêm mới salon
    </a>

    <div class="service-title-center">
      <a
        class="icon-center"
        [class.active]="currentTab === 'information'"
        (click)="switchTab('information')"
        >Thông tin</a
      >
      <a
        class="icon-center"
        [class.active]="currentTab === 'assignData'"
        (click)="switchTab('assignData')"
        >Gán dữ liệu</a
      >
      <a
        class="icon-center"
        [class.active]="currentTab === 'introduction'"
        (click)="switchTab('introduction')"
        >Giới thiệu</a
      >
      <a
        class="icon-center"
        [class.active]="currentTab === 'manageWorker'"
        (click)="switchTab('manageWorker')"
        >Quản lý thợ</a
      >
    </div>

    <a class="icon-close" routerLink="/salon">
      <i class="pi pi-times icon-close"></i>
    </a>
  </div>

  <!-- Display child component based on current tab -->
  <div [hidden]="currentTab !== 'information'">
    <!-- <app-salon-add-information [data]="salonTabs.information"></app-salon-add-information> -->
    <app-salon-add-information
      [salonData]="salonData"
      (formSubmitted)="handleFormSubmission($event)"
    ></app-salon-add-information>
  </div>

  <div [hidden]="currentTab !== 'assignData'">
    <app-salon-add-assign-data
      [data]="salonTabs.assignData"
    ></app-salon-add-assign-data>
  </div>

  <div [hidden]="currentTab !== 'introduction'">
    <app-salon-add-introduction
      [salonData]="salonData"
      (formSubmitted)="handleFormSubmission($event)"
    ></app-salon-add-introduction>
  </div>

  <div [hidden]="currentTab !== 'manageWorker'">
    <app-salon-add-manage-worker
      [data]="salonTabs.manageWorker"
    ></app-salon-add-manage-worker>
  </div>

  <!-- Save Data Button -->
  <!-- <button (click)="saveData()">Lưu</button> -->
</div>
