<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="ball-clip-rotate"
  [fullScreen]="true"
>
  <p style="color: white">Loading...</p>
</ngx-spinner>

<div class="navbar">
  <div class="site-left">
    <i class="pi pi-align-justify" style="font-size: 1.5rem"></i>
    <a (click)="goToHome()" class="logo"><h2>LOGO</h2></a>
  </div>

  <div class="navbar-center">
    <div class="navbar-center-item">
      <!-- ====== CENTER ACTIVE ====== -->

      <ng-container *ngFor="let item of menu.slice(0, 6)">
        <a
          *ngIf="item.path"
          [routerLink]="item.path"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          class="nav-item nav-link"
        >
          <span class="item-title">{{ item.name }}</span>
          <div class="item-base"></div>
        </a>
      </ng-container>

      <div class="dropdown" *ngIf="menu.length > 6">
        <i class="pi pi-ellipsis-h"></i>
        <div class="dropdown-options">
          <ng-container *ngFor="let item of menu.slice(6)">
            <a [routerLink]="item.path" class="dropdown-item">
              {{ item.name }}
            </a>
          </ng-container>
        </div>
      </div>
    </div>
  </div>

  <div class="site-right">
    <div class="icon1">
      <i class="pi pi-ellipsis-h"></i>
    </div>

    <a href="#" class="icon2">
      <i class="pi pi-bell" style="font-size: 2rem; color: black"></i>
      <span>4</span>
    </a>

    <h3>{{ userName }}</h3>
    <h3>Tano</h3>

    <div class="avata" (click)="optionTopbar.toggle($event)">
      <p-avatar
        image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
        shape="circle"
      />
      <i class="pi pi-angle-down" style="font-size: 1.5rem; color: black"></i>
    </div>
  </div>
</div>

<p-overlayPanel #optionTopbar styleClass="option-topbar">
  <div style="margin-right: 18px; display: grid">
    <p-button
      label="Thay đổi mật khẩu"
      icon="pi pi-spin pi-cog"
      [text]="true"
      [plain]="true"
      (onClick)="isShowChangePassword = true"
    />

    <p-button
      label="Logout"
      icon="pi pi-sign-out"
      [text]="true"
      [plain]="true"
      (onClick)="onLogOut()"
    />
  </div>
</p-overlayPanel>

<p-sidebar
  [style]="{ width: '30%' }"
  [(visible)]="isShowChangePassword"
  class="sidebar"
>
  <ng-template pTemplate="header" class="sidebar-header">
    <h3>Cập nhật mật khẩu tài khoản {{ userName }}</h3>
  </ng-template>
  <ng-template pTemplate="footer"></ng-template>

  <form class="sidebar-form">
    <div class="sector-changePassword">
      <div class="form-row" [ngStyle]="{ padding: '20px' }">
        <label for="" class="col-sm-4" [ngStyle]="{ marginRight: '166px' }">
          Mật khẩu
          <span style="color: red">*</span>
        </label>
        <input
          [type]="passwordType"
          pInputText
          formControlName="password"
          class="input-field"
          placeholder="Mật khẩu"
          [ngStyle]="{ maxWidth: '490px' }"
        />
        <i
          [ngStyle]="{ marginLeft: '20px' }"
          [ngClass]="
            showIcon ? 'pi pi-eye-slash input-icon' : 'pi pi-eye input-icon'
          "
          aria-hidden="true"
          (click)="onChange()"
        ></i>
      </div>

      <div class="form-row" [ngStyle]="{ padding: '20px' }">
        <label for="" class="col-sm-4" [ngStyle]="{ marginRight: '100px' }">
          Nhập lại mật khẩu
          <span style="color: red">*</span>
        </label>
        <input
          [type]="passwordType"
          pInputText
          formControlName="password"
          class="input-field"
          placeholder="Nhập lại mật khẩu"
          [ngStyle]="{ maxWidth: '490px' }"
        />
        <i
          [ngStyle]="{ marginLeft: '20px' }"
          [ngClass]="
            showIcon ? 'pi pi-eye-slash input-icon' : 'pi pi-eye input-icon'
          "
          aria-hidden="true"
          (click)="onChange()"
        ></i>
      </div>

      <div class="form-row" [ngStyle]="{ margin: '25px 0px' }">
        <div
          class="button"
          [ngStyle]="{ display: 'flex', justifyContent: 'end' }"
        >
          <p-button label="Lưu lại" [raised]="true" />
          <p-button
            label="Hủy"
            [raised]="true"
            severity="secondary"
            [ngStyle]="{ marginLeft: '10px' }"
          />
        </div>
      </div>
    </div>
  </form>
</p-sidebar>
