<div class="overview-sector-wrapper">
  <!-- FORM EDIT SERVICE -->
  <div class="sector-form">
    <div class="title-form">
      <span class="font-bold block mb-2">Danh sách thợ</span>
    </div>

    <div class="form-detail-content">
      <div class="form-detail-content-list">
        <div class="detail-content-input1" *ngFor="let employee of employees">
          {{ employee?.user?.name }}
          <p-button
            label="Chi tiết"
            [outlined]="true"
            severity="contrast"
            [style]="{ marginLeft: '10px', height: '40px' }"
            (click)="showEmployeeById(employee?._id)"
          />
        </div>
      </div>

      <div class="form-detail-content-search">
        <!-- FILTER  -->
        <div class="search">
          <span class="p-input-icon-right">
            <i
              class="pi pi-search"
              [style]="{
                marginRight: '14px',
                fontSize: '13px',
                marginTop: '-5px'
              }"
            ></i>
            <input
              pInputText
              placeholder="Nhập từ khóa..."
              [style]="{
                width: '300px',
                height: '40px',
                marginLeft: '14px'
              }"
            />
          </span>
        </div>
      </div>
    </div>
  </div>

  <!-- Employee detail -->
  <div class="employee-checkbox-wrapper">
    <div class="employee-checkbox">
      <div class="employee-code">
        <div class="employee-code-title">
          Mã thợ:
          <span *ngIf="selectedEmployee"> {{ selectedEmployee?.code }} </span>
        </div>
      </div>
      <div class="employee-phone">
        <div class="employee-phone-title">
          Số điện thoại:
          <span *ngIf="selectedEmployee">
            {{ selectedEmployee?.user?.phone }}
          </span>
        </div>
      </div>
      <div class="employee-email">
        <div class="employee-email-title">
          Email:
          <span *ngIf="selectedEmployee">
            {{ selectedEmployee?.user?.email }}
          </span>
        </div>
      </div>
      <div class="employee-address">
        <div class="employee-address-title">
          Địa chỉ:
          <span *ngIf="selectedEmployee">
            {{ selectedEmployee?.user?.address }}
          </span>
        </div>
      </div>
    </div>

    <div class="form-detail-checkbox">
      <span>Cài đặt trạng thái hiển thị</span>
      <div class="form-checkbox">
        <div class="flex align-items-center">
          <p-radioButton
            name="status"
            value="1"
            formControlName="status"
            inputId="ACTIVE"
          />
          <label for="ACTIVE" class="ml-2" style="margin-left: 10px"
            >Hiển thị</label
          >
        </div>

        <div class="flex align-items-center">
          <p-radioButton
            name="status"
            value="0"
            formControlName="status"
            inputId="INACTIVE"
          />
          <label for="INACTIVE" class="ml-2" style="margin-left: 10px"
            >Không hiển thị</label
          >
        </div>
      </div>
    </div>
  </div>
</div>
