.overview-sector-wrapper {
  max-height: 1520px;
  height: 600px;
  max-width: 1225px;
  margin: 0 auto;
  background: #fff;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.03);
  border-radius: 5px;
  padding: 30px;
  position: relative;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;

  .sector-form {
    width: 658px; // Fixed width for the form

    .title-form {
      font-size: 16px;
      font-weight: 700;
      color: #1b1b1c;
      display: flex;
      align-items: flex-end;
      margin-bottom: 20px;

      span {
        flex-shrink: 0;
        margin-right: 5px;
      }
    }

    .title-form::after {
      content: "";
      height: 1px;
      background: #cecece;
      width: 100%;
      margin-bottom: 4px;
    }

    .form-detail-content {
      display: grid;
      margin-bottom: 30px;
      margin-top: 20px;

      .form-detail-content-list {
        display: grid;
        margin-bottom: 30px;
        border-bottom: #cecece 1px solid;
        margin-top: 20px;

        .detail-content-input1 {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 10px;
        }
      }

      .form-detail-content-search {
        display: flex;
        align-items: center;
        background-color: #f0f0ef;
        height: 50px;

        .search {
          display: flex;
          align-items: center;
        }
      }
    }

    .form-detail-checkbox {
      display: grid;
      margin: 4px;
      margin-top: 88px;
      margin-bottom: 30px;

      span {
        margin-bottom: 5px;
        color: #9ea1a5;
      }

      .form-checkbox {
        display: flex;
        margin-top: 5px;
        gap: 30px;
      }
    }
  }

  .employee-checkbox-wrapper {
    width: 440px;
    height: 450px;
    border: #cecece 1px solid;
    border-radius: 5px;

    .employee-checkbox {
      margin-top: 14px;
      padding: 12px;
      display: grid;
      gap: 30px;
      color: #9ea1a5;

      .employee-code {
        margin-bottom: 5px;
        border-bottom: #cecece 1px solid;

        .employee-cdoe-title {
          margin-bottom: 5px;
        }
      }

      .employee-checkbox-item {
        display: flex;
        align-items: center;
        padding: 10px;
        font-size: 15px;
        font-weight: 700;
        border-bottom: #cecece 1px solid;
        margin-bottom: 8px;
      }

      .employee-checkbox-item-children {
        display: flex;
        align-items: center;
        padding: 10px;
        font-size: 14px;
        font-weight: 600;
        border-bottom: #cecece 1px solid;
        margin-bottom: 8px;
      }
    }
  }
}
