.booking-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 30px;
  display: block;
  justify-content: center;

  .service-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 24px;

    .icon-back {
      font-size: 18px;
      line-height: 24px;
      color: #000000;
      font-weight: 700;
      text-decoration: none;
    }

    .icon-close {
      text-decoration: none;
      color: #000000;
    }
  }

  .booking-action {
    display: flex;
    justify-content: space-between;
    margin-top: 17px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 1.5rem;

    .customer-action--left {
      .title {
        font-size: 14px;
        line-height: 14px;
        color: #9ea1a5;
        margin-bottom: 5px;
        font-weight: 700;
        margin-left: 17px;
        margin-top: 10px;
      }

      .fillter-left {
        display: flex;
        align-items: center;
        height: 60px;

        .buttons {
          background-color: #8b4513;
          border-color: #8b4513;
          border-radius: 5px;
          font-size: 12px;
        }

        .tabview {
          margin-left: 10px;
        }
      }
    }

    .export-file {
      margin-left: 17px;
      color: #9ea1a5;
      font-size: 14px;
      font-weight: 700;
      display: flex;
      align-items: center;
      font-size: 14px;
      margin-top: 23px;

      .active {
        color: black;
        margin-right: 14px;
      }
    }

    .customer-action--right {
      display: flex;
      align-items: center;

      .search {
        display: flex;
        align-items: center;
      }

      .title-line {
        font-size: 14px;
        line-height: 14px;
        color: #9ea1a5;
        margin-bottom: 12px;
        font-weight: 700;
        display: flex;
        align-items: flex-end;

        span {
          flex-shrink: 0;
          margin-right: 5px;
        }
      }

      .title-line::after {
        content: "";
        height: 1px;
        background: #cecece;
        width: 100%;
        margin-bottom: 4px;
      }
    }

    .booking-action--middle {
      display: flex;
      align-items: center;
      margin-left: 10px;
      margin-right: 10px;
      height: 30px;
      font-size: 14px;
      font-weight: 700;
      gap: 12px;
      margin-top: 23px;

      .card-date {
        border-bottom: #e5e7eb 1px solid;
        display: flex;
        align-items: center;
      }

      .card-status {
        border-bottom: #e5e7eb 1px solid;
        display: flex;
        align-items: center;
      }

      .card-bookingType {
        border-bottom: #e5e7eb 1px solid;
        display: flex;
        align-items: center;
      }
    }
  }

  // TABLE
  .card {
    margin-left: 16px;
    margin-right: 16px;

    th {
      background: #3b3420;
      color: #fff;
    }
    .button {
      width: 79px;
      height: 27px;
      border-radius: 6px;
      font-weight: bold;
      background-color: #3b3420;
      color: #fff;
      font-family: "Open Sans", sans-serif;
    }

    .custom-button {
      background-color: #8b4513 !important;
      border-color: #8b4513 !important;
      font-size: 12px !important;
      height: 30px !important;
      width: 86px !important;
    }
  }

  .paginator {
    display: flex;
    justify-content: space-between;
    margin-left: 17px;
    margin-right: 17px;

    .pahinator-left {
      display: block;
      text-align: center;
      padding: 1.5rem 0rem;
    }
  }
}
