<div class="overview-sector-wrapper">
  <!-- FORM EDIT SERVICE -->
  <form class="sector-form">
    <div class="title-form">
      <span class="font-bold block mb-2">Gán dữ liệu</span>
    </div>

    <div class="form-detail-content">
      <div class="detail-content-input1">
        <p style="margin-bottom: 5px; color: #9ea1a5">
          Gán dữ liệu 1 <span>*</span>
          <i
            class="pi pi-pen-to-square"
            style="font-size: 1rem; margin-left: 15px"
          ></i>
        </p>
        <div class="input-button" style="display: flex; align-items: center">
          <input
            type="text"
            formControlName="code"
            class="input-field"
            placeholder="Dịch vụ"
            [style]="{ width: '549px', height: '40px' }"
          />
          <p-button
            label="Chi tiết"
            [outlined]="true"
            severity="contrast"
            [style]="{ marginLeft: '10px', height: '40px' }"
          />
        </div>
        <br />
      </div>
    </div>
  </form>

  <!-- Form Add Service -->
  <div class="sector-checkbox-wrapper">
    <div class="sector-checkbox" style="max-height: 360px; overflow-y: auto">
      <form [formGroup]="salonForm">
        <div *ngFor="let sector of sectors">
          <div class="sector-checkbox-item">
            <input
              type="checkbox"
              [formControlName]="sector._id"
              (change)="onSectorChange(sector, $event)"
              [checked]="sector.checked"
              style="
                width: 17px;
                height: 17px;
                border-radius: 16px;
                margin-right: 10px;
              "
            />
            {{ sector.title }}
          </div>
          <div
            style="padding-left: 25px"
            *ngIf="sector.children && sector.children.length"
          >
            <ng-container *ngFor="let child of sector.children">
              <div class="sector-checkbox-item-children">
                <input
                  type="checkbox"
                  [formControlName]="child._id"
                  (change)="onSectorChange(child, $event)"
                  [checked]="child.checked"
                  style="
                    width: 17px;
                    height: 17px;
                    border-radius: 16px;
                    margin-right: 10px;
                  "
                />
                {{ child.title || "No Title Available" }}
              </div>
            </ng-container>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
